array_classifier/1_cluster_pipeline/R_file/*
raw_data/
array_classifier/1_cluster_pipeline/ov.*/
array_classifier/1_cluster_pipeline/raw_data
.idea/
array_classifier/1_cluster_pipeline/training_pipeline/ov.afc1_cbt/
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
nanostring
array_classifier/2_post_processing/data/
array_classifier/2_post_processing/outputs/
packrat/lib*/
